Options -Indexes
DirectoryIndex index.html
AddType application/javascript .js
AddType text/css .css

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^([^/]+)/?$ /$1/ [R=301,L]

ErrorDocument 404 /404.html
